@CHARSET "ISO-8859-1";
.user-info-menu {
	display: none;
	background: #fafafa;
	border: 2px solid;
	border-color: #ccc;
	border-radius: 4px;
	overflow: hidden;
	position: absolute;
	right: 100px;
	top: 51px;
	white-space: nowrap;
	z-index: 1;
}